---
layout: page
title: Talks
permalink: /talks/
---


<h2>Upcoming</h2>

<ul>
{% for post in site.upcoming_talks reversed %}


<li class="postitem">

  <div class="container">
    <h4>{{ post.title }}</h4>
  </div>

  <div class="container">
    <a href="{{ post.venueurl }}" target="_blank" class="button two">{{ post.venue }}</a>
    {% if post.resources %}
    <a href="{{ post.resources}}" target="_blank" class="button two">Resources</a>
    {% endif %}
    {% if post.codeurl %}
    <a href="{{ post.codeurl }}" target="_blank" class="button two">GitHub</a>
    {% endif %}

  </div>
  
</li>

{% endfor %}

</ul>


<h2>Past</h2>

<ul>
{% for post in site.talks reversed %}


<li class="postitem">

  <div class="container">
    <h4>{{ post.title }}</h4>
  </div>

  <div class="container">
    <a href="{{ post.venueurl }}" target="_blank" class="button two">{{ post.venue }}</a>
    {% if post.resources %}
    <a href="{{ post.resources }}" target="_blank" class="button two">Resources</a>
    {% endif %}
    {% if post.codeurl %}
    <a href="{{ post.codeurl }}" target="_blank" class="button two">GitHub</a>
    {% endif %}

  </div>
  
</li>

{% endfor %}

</ul>
