---
layout: page
title: Talks
permalink: /talks/
---


<h2>Upcoming</h2>


{% for post in site.upcoming_talks reversed %}


<div class="pub-item">

  <p class="pub-title">({{ post.date | date: "%Y, %b" }}) {{ post.title }}</p>

  <div class="container">
    <a href="{{ post.venueurl }}" target="_blank" class="button two">{{ post.venue }}</a>
    {% if post.resources %}
    <a href="{{ post.resources}}" target="_blank" class="button two">Resources</a>
    {% endif %}
    {% if post.codeurl %}
    <a href="{{ post.codeurl }}" target="_blank" class="button two">Code</a>
    {% endif %}

  </div>
  
</div>

{% endfor %}


<h2>Past</h2>

{% for post in site.talks reversed %}


<div class="pub-item">

  <p class="pub-title">({{ post.date | date: "%Y, %b, %d" }}) {{ post.title }}</p>
  <div class="container">
    <a href="{{ post.venueurl }}" target="_blank" class="button two">{{ post.venue }}</a>
    {% if post.resources %}
    <a href="{{ post.resources }}" target="_blank" class="button two">Resources</a>
    {% endif %}
    {% if post.codeurl %}
    <a href="{{ post.codeurl }}" target="_blank" class="button two">GitHub</a>
    {% endif %}
  </div>
</div>
<br>
{% endfor %}

