@import "minima";

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 10%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.with-caption {
    text-align:center;
}

p.thick {
    font-weight: bold;
}
.person-name {
    color: #0E3B43;
}

.role-name {
    color: #519e8a;
}

.postitem {
    //background-color: #f1f3f1;
    margin-top: 2px;
    margin-bottom: 8px;
}



.caps {
  color: rgba(0,0,0,0.7);
  float:left;
  font-size: 7em;
  line-height: 60px;
  padding-right: 12px;
  position:relative;
  top:8px;
}

.center{
  text-align: center;
}

.card {
    // width: 130px;
    // height: 195px;
    position: relative;
    display: inline-block;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.8em;
}
	
.container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.container-spread {
  display: flex;        // This enables flexbox layout
  align-items: center;  // Aligns children vertically in the middle
  justify-content: space-between; // Spreads out the children to utilize the space between them

   img {
    // Styles for the image
    max-width: 150px; // Adjust width as necessary
    height: auto;     // Maintains aspect ratio
    margin-left: auto; // This pushes the image to the right
  }
 
}


.horizontal-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.horizontal-container p {
    margin: 10px 10px; /* Adjust spacing between elements */
}


.scrollable-container {
    width: 100%;
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.pub-item {
    background-color: #f0f3f5;// #f4f7fa;
    padding-right: 10px;
    padding-left: 10px;
}

.pub-title {
    text-decoration: none;
    color: darken($brand-color, 25%);
    font-weight: bold;
    font-size: 16px;
    padding: 0px;
	       
}


.pub-authors {
    font-size: 0.9em;
}



.text {
    margin-left: 20px;
    max-width: 70%;
}

// Collapsible Bibtex
.collapsible {
  //background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 12px;
  //width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 12px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */

.content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
 // background-color: #f1f1f1;
}
/////////////////////////////////////////////

// nice button hover
// https://codepen.io/samvdh/pen/MmZzyR

.button{
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	position: relative;
	padding: 3px;
}

.button.pub-title {
    color: darken($brand-color, 25%) !important; /* Force the pub-title color */
    font-size: 16px !important; /* Force the pub-title font size */
}

a.button.one:before, a.button.one:after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	transition: all 0.3s ease;
}

a.button.one:before{
	top: -2.5%;
	left: -1%;
	border-top: 1.5px solid darken($brand-color, 25%);
	border-left: 1.5px solid darken($brand-color, 25%);
}
a.button.one:after{
	bottom: -2.5%;
	right: -1%;
	border-bottom: 1.5px solid darken($brand-color, 25%);
	border-right: 1.5px solid darken($brand-color, 25%);
}
a.button.one:hover:before, a.button.one:hover:after{
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
}


/* BUTTON TWEE */

a.button.two:before, a.button.two:after{
  opacity: 0;
  transition: all 0.3s ease;	
	font-size: 20px;
}
a.button.two:before{
  content: '[';
}
a.button.two:after{
  content: ']';
}

a.button.two:hover:before{
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 1;
}
a.button.two:hover:after{
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
  opacity: 1;
}



/* BUTTON DRIE */

a.button.three:before, a.button.three:after{
	content: '';
	position: absolute;	
	width: 0;
	height: 0;
	opacity: 0;
}

a.button.three:before{
	top: 0;
	left: 0;
	border-top: 2px solid black;
	border-right: 2px solid black;
}
a.button.three:after{
	bottom: 0;
	right: 0;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}
a.button.three:hover:before{
	animation: first 0.3s forwards;
	opacity: 1;
}
a.button.three:hover:after{
	animation: second 0.3s forwards;
}
@keyframes first{
	0%{
		width: 0%;
		height: 0%;
	}
	25%{
		width: 100%;
		height: 0%;
	}
	50%{
		width: 100%;
		height: 100%;
	}
	100%{
		width: 100%;
		height: 95%;
	}
}

@keyframes second{
	0%{
		width: 0%;
		height: 0%;
	}
	50%{
		width: 0%;
		height: 0%;
	}	
	75%{
		width: 100%;
		height: 0%;
		opacity: 1;
	}
	100%{
		width: 100%;
		height: 95%;
		opacity: 1;
	}
}


/* BUTTON VIER */

a.button.four:before, a.button.four:after{
	content: '';
	position: absolute;	
	width: 0%;
	height: 100%;
	border-bottom: 2px solid black;
	transition: width 0.3s ease;
}

a.button.four:before{
	bottom: 0;
	right: 50%;
}
a.button.four:after{
	bottom: 0;
	left: 50%;
}
a.button.four:hover:after, a.button.four:hover:before{
	width: 40%;
	transition: width .2s ease;
}



/* button vijf */

a.button.five:after{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	
	width: 0%;
	height: 100%;
	
	border-bottom: 2px solid black;
	
	transition: width 0.3s ease;
}

a.button.five:hover:after{
	left: 0;
	width: 100%;
	transition: width .3s ease;
}


/* Button six */

a.button.six:after{
	content: '';
	width: 100%;
	height: 120%;
	top: 0;
	left: 0;
	position: absolute;
	border-bottom: 2px solid black;
	opacity: 0;
	
	transition: all .2s ease;
}

a.button.six:hover:after{
	opacity: 1;
	height: 100%;
	
	transition: all 0.3s ease;
}

/* button seven */

a.button.seven:after{
	content: '';
	width: 100%;
	height: 85%;
	top: 0;
	left: 0;
	position: absolute;
	border-bottom: 2px solid black;
	opacity: 0;
	
	transition: all .2s ease;
}

a.button.seven:hover:after{
	opacity: 1;
	height: 100%;
	
	transition: all 0.3s ease;
}

/* Button eight */

a.button.eight:before, a.button.eight:after{
	content: '';
	position: absolute;
	width: 100%;
}
a.button.eight:after{
	height: 100%;
	border-bottom: 2px solid black;
	bottom: 0;
	left: 0;
	transition: transform 0.2s ease;
}
a.button.eight:before{
	height: 0%;
	border-top: 2px solid black;
	bottom: 0;
	left: 0;
	transition: height .3s ease;

}
a.button.eight:hover:before{
	height: 100%;
	transform: scale(1.08);
	transition: all 0.3s ease;
}
a.button.eight:hover:after{
	transform: scale(1.08);
	transition: transform 0.4s ease;
}



/* Button Nine */

a.button.nine{
	border: 2px solid #333;
}

a.button.nine:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: -2px;
	left: -2px;
	border: 2px solid black;
	transform: translate(20px, -20px);
	opacity: 0;
	transition: all 0.3s ease;
}

a.button.nine:hover:after{
	opacity: 1;
	animation: nine 0.3s forwards;
}
@keyframes nine{
	0%{
		transform: translate(-20px, 20px);
	}
	100%{
		transform: translate(0px, 0px);
	}
}


/* Button ten */
a.button.ten{
	color: #333;
}
a.button.ten:after{
	content: 'But not this time...';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 100%;
	color: black;
	transform: translate(-20px, -20px);
	transition: all 0.2s ease;
	opacity: 0;
}

a.button.ten:hover:after{
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 0.2s ease;
}

/* button eleven */

a.button.eleven{
	border: 2px solid black;
	transition: all 0.3s ease;
	transform: translate(0px 10px);
}

a.button.eleven:hover{
	box-shadow: 0px 15px 10px -10px #fff;
	transform: translate(0px 0px);
}


